# Environnement virtuel
.venv/

# Dataset images (volumeux — à placer localement dans data/)
data/BHI/
data/BreaKHis_v1/

# Poids de modèles (volumeux — à regénérer via RubanRose_Training.ipynb)
models/
*.pth

# Cache Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Fichiers systèmes
.DS_Store
Thumbs.db

# Présentations PowerPoint
*.ppt
*.pptx
~$*.ppt*
